* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #050a18;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

nav {
    display: flex;
    height: 12vh;
    border-bottom: 1px solid #1e2435;
}

.nav-mobile-section {
    flex-grow: 1;
    display: flex;
}

.logo {
    justify-content: flex-start;
}

.logo , .features {
    width: calc(100vw/3);
}

.about, .profile {
    width: calc(100vw/6);
}

.profile > div > a {
    padding: 2rem 1.5rem;
}


a {
    text-decoration: none;
    color: rgba(116,112,131);
    font-family: 'Space Grotesk', sans-serif;
}

.logo-name {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.grow-link {
    padding: 2rem 1.5rem;
}

.border-link {
    padding: 0.5rem;
    transition: all 300ms ease;
    transition-property: border;
}

.border-link:hover {
    cursor: pointer;
}


.logo {
    display: flex;
    align-items: center;
    border-right: 1px solid #1e2345;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #1e2345;
}

.features > div > a {
    font-size: 1rem;
    font-weight: 500;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 1px solid #1e2345;
}

.about > div > a{
    transition: all 300ms ease;
}
.about > div > i {
    color: rgba(116,112,131);
    font-size: 1rem;
    padding: 0.8rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid #1e2345; */
}

.profile > div {
    font-size: 1rem;
    color: rgba(116,112,131);
}

.test-link a {
    color:rgb(126, 87, 194);
    transition: all 300ms ease;
}

.test-link a:hover {
    color: white;
}

#nav-toggle-btn {
    align-items: center;
    background-color: transparent;
    border: none;
    border-color: rgb(255, 255, 255, 0.1);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 1000;
}

#nav-toggle-btn:hover,
#nav-toggle-button:hover > span {
  color: rgb(126, 87, 194);
}

#nav-toggle-btn > span,
#nav-toggle-btn > i { 
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

.selection {
    height: 20vh;
    width: 100vw;
    display: flex;
    border-bottom: 1px solid #1e2435;
    background-color: rgba(0, 0, 0, 0.5);
}

.selection > div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(116,112,131);
    font-family: 'Space Grotesk', sans-serif;
}

.subjects {
    border-right: 1px solid #1e2435;
}

.units, .semester, .subjects{
    width: calc(100vw/3);
}

.sem, .unit {
    padding: 2rem 0.5rem;
}

.dropdown {
    border: none;
    position: relative;
    display: inline-block;
}

.sem-dropdown-toggle, .unit-dropdown-toggle, .sub-dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(116,112,131);
    padding: 0.5rem;
}

.sub-dropdown-toggle {
    display: none;
}

.sem-dropdown-menu, .unit-dropdown-menu, .sub-dropdown-menu {
    position: absolute;
    z-index: 1;
    background-color: black;
    border: 1px solid #1e2345;
    border-radius: 10px;
    padding: 0;
    margin-top: 0;
    list-style-type: none;
}

.sem-dropdown-menu {
    display: none;
}

.unit-dropdown-menu {
    display: none;
}

.sem-dropdown-menu {
    display: none;
}

.sub-dropdown-menu li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #1e2345;
    cursor: pointer;
    color: rgba(116,112,131);
}

.sub-dropdown-menu li:last-child {
    border: none;
}



.sem-dropdown-menu li, .unit-dropdown-menu li {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgba(116,112,131);
    cursor: pointer;
}

.info {
    height: 72vh;
    display: flex;
}

.subjects-display {
    width: calc(100vw/3);
    border-right: 1px solid #1e2435;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.subjects-display > div {
    height: 20%;
    width: 80%;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1e2435;
    color: rgba(116,112,131);
}

.subjects-display > div:last-child {
    border: none;
}

.topics {
    flex-grow: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
}


.card {
    height: 20vh;
    width: 10vw;
    background-color: rgba(0,0,0,0.5);
    /* border: 1px solid #1e2345; */
    margin-bottom: 1rem;
    border-radius: 5px;
}

.card-image {
    height: 65%;
    border-bottom: 1px solid #1e2345;
}

.card-text {
    height: 35%;
    color: rgba(116,112,131);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.topics::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 8px;
}

.topics::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}
  
  .topics::-webkit-scrollbar-thumb {
    background-color: rgba(116,112,131);
    border-radius: 5px;
}

@media(max-width: 800px){
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"] > .nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"] > #nav-toggle-btn {
        border-left: none;
    }

    nav[data-transitionable='true'] > .nav-mobile-section {
        transition: transform 400ms ease;
    }
    
    nav{
        height: 10vh;
    }

    nav > div {
        border-right: none;
    }

    .logo {
        border: none;
    }

    .logo-name {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: white;
        border: 0;
        justify-content: center;
        align-items: center;
        /* z-index: 9998; */
    }

    .features > div > a {
        font-size: 2.5rem;
    }

    .about {
        flex-direction: row;
        margin: 4rem;
        gap: 5rem;
        color: white;
        border: 0;
    }

    .nav-mobile-section {
        background-color: rgb(6, 11, 25);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        gap: 2rem;
        position: fixed;
        transform: translateY(-100%);
        z-index: 1000;
        border: none;
    }

    #nav-toggle-btn {
        display: flex;
    }

    .about a {
        font-size: 1.5rem;
    }

    .profile a {
        font-size: 2rem;
    }

    .subjects-display {
        display: none;
    }

    .subjects {
        border: none;
    }

    .selection > div {
        font-size: 0.9rem;
    }


.sem, .unit, .sub {
    padding: 1rem 0.2rem;
}


.topics {
    padding: 1rem 1.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.card {
    width: 25vw;
}

.sub-dropdown-toggle {
    display: flex;
}

}